$back-color: #f5f4f4;
$fore-color: #ffffff;
$frame-height: 80vh;
$frame-width: 70vw;

$info-color:rgb(13, 77, 173);
$warning-color: rgb(173, 149, 13);
$alert-color: crimson;
$primary-color: rgb(19, 173, 13);