@import '../../global.scss';

.vocab-body{
    width: 95vw;
    margin: auto;
     
    .content {
      height: $frame-height;
    }
}

.badge-alert {
    background-color: $alert-color !important;
    color: $fore-color !important;
}

.badge-primary {
  background-color: $primary-color !important;
  color: $fore-color !important;
}

.badge-warning {
  background-color: $warning-color !important;
  color: $fore-color !important;
}

.badge-info {
  background-color: $info-color !important;
  color: $fore-color !important;
}